<template>
  <div class="cssEditor">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="stepTitle">
              <span>How to use CSS?</span>
            </div>
          </div>
        </div>
        <div class="row mt-3 stepContent">
          <div class="col-12 mb-4 mt-3">
            <div class="learnCssTile vievCssTile">
                <div class="className" :style="getStyle()">

                </div>
            </div>
            <div class="tileName">
                <span>Preview</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 mb-3">
            <div class="learnCssTile">
                <div class="valueEditor">
                    <span>Rounding</span><br>
                    <input v-model="borderRadius" class="custom-range" type="range" min="1" max="100" value="50">
                </div>
                <div class="valueEditor">
                    <span>Transparency</span><br>
                    <input v-model="opacity" class="custom-range" type="range" min="0" max="100" value="100">
                </div>
                <div class="valueEditor">
                    <span>Scale</span><br>
                    <input v-model="scale" class="custom-range" type="range" min="10" max="100" value="100">
                </div>
                <div class="valueEditor">
                    <span>Rotation</span><br>
                    <input v-model="rotate" class="custom-range" type="range" min="0" max="360" value="50">
                </div>

            </div>
            <div class="tileName">
                <span>Editor</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 mb-3">
            <div class="learnCssTile">
                <div class="codeView">
                    <span style="color: orange">.className{</span>
                    <div class="cssTile">
                        <span class="cssProp">border-radius: </span>
                        <span class="cssValue">{{ borderRadius }}px;</span>
                    </div>
                    <div class="cssTile">
                        <span class="cssProp">opacity: </span>
                        <span class="cssValue">{{ opacity / 100 }};</span>
                    </div>
                    <div class="cssTile">
                        <span class="cssProp">transform: </span>
                        <span class="cssValue">scale({{ scale / 100 }}) rotate({{ rotate}}deg);</span>
                    </div>
                    <span style="color: orange">}</span>
                </div>
            </div>
            <div class="tileName">
                <span>CSS</span>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'cssEditor',
  data () {
      return {
          borderRadius: 0,
          opacity: 100,
          scale: 100,
          rotate: 0,
      }
  },
  methods: {
      getStyle(){
          return `border-radius: ${this.borderRadius}px; opacity: ${this.opacity / 100}; transform: scale(${this.scale/100}) rotate(${this.rotate}deg);`;
      }
  }
};
</script>

<style scoped lang="scss">
.stepTitle{
    font-size: 30px;
    color: #0085b3;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0px 0px 9px -1px #0085b3;
    background-color: white;

}
.learnCssTile{
    box-shadow: 0px 0px 9px -1px #0085b3;
    background-color: white;
    padding: 5px;
    min-height: 239px;
    position: relative;
}
.tileName{
    background-color: #0085b3;
    box-shadow: 0px 0px 9px -1px #0085b3;
    padding: 2px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.codeView{
    border-left: 2px solid rgb(0, 253, 21);
    background-color: #1e1e1e;
    padding: 1px 1px 4px 5px;
    font-family: Verdana;
    font-size: 15px;
    height: calc(100% - 10px)!important;
    width: calc(100% - 10px);
    top: 5px;
    bottom: 5px;
    position: absolute;
}
.cssProp{
    color: rgb(41, 145, 201);
}
.cssValue{
    color: rgb(238, 175, 93);
}
.vievCssTile{
    padding: 50px;
}
.className{
    max-width: 200px;
    width: 100%;
    margin: 0 auto 0 auto;
    height: 200px;
    background-color: #0085b3;
}.valueEditor{
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: #0085b3;
}
</style>
