<template>
  <div class="landingPage" id="landingRoot" :style="{ height: pageHeight }">
      <div id="stepOneTitle" :class="{stick: stick}" ref="elementToGetOffset">
        <div id="stepOneTitleText" class="stickText">
          <span> MDB Academy</span>
        </div>
        <div class="timeFrame stickText">
          <span ref="clock">19:49</span>
          <div class="secondIndicator">
            <div class="tick" :style="calculateSecondIndicator()">

            </div>

          </div>
        </div>
      </div>

      <div id="stepOnecontent" ref="content">
        <div class="contentLight">
          <div id="contentBold">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
          <div id="contentSpec">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eaque odio nihil eum beatae ea sunt excepturi saepe illo tempore facere qui velit consectetur reiciendis temporibus aliquam ad, doloremque recusandae! Neque, repellat sunt. Non dolorum earum placeat expedita aut voluptas officiis odit officia porro? Aut suscipit delectus libero repellat soluta!</span>
          </div>
        </div>
        <div class="contentDark">
          <div id="contentBold">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
          <div id="contentSpec">
            <div class="img">
              <img src="@/assets/step1.jpg" class="img-fluid" height="200">
            </div>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eaque odio nihil eum beatae ea sunt excepturi saepe illo tempore facere qui velit consectetur reiciendis temporibus aliquam ad, doloremque recusandae! Neque, repellat sunt. Non dolorum earum placeat expedita aut voluptas officiis odit officia porro? Aut suscipit delectus libero repellat soluta!</span>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'landingPage',
  data () {
      return {
        stick: false,
        pageHeight: "0px",
        seconds: 60,
      }
  },
  methods: {
    handleScroll() {
      this.pageHeight = (this.$refs["content"].clientHeight + 190) + "px";
      
      if(window.scrollY > 15 + this.$refs["elementToGetOffset"].offsetTop){
        this.stick = true;
      }else{
        this.stick = false;
      }
    },
    updateClock() {
        this.$refs["clock"]
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();

        this.seconds = today.getSeconds();

        if (m < 10) {
          m = "0" + m;
        };
        this.$refs["clock"].innerHTML = h + ":" + m;
        setTimeout(this.updateClock, 1000);
    },
    calculateSecondIndicator(){
      console.log(this.seconds / 60)
      return `transform: scaleX(${(this.seconds / 60)});`
    }
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  mounted() {
    this.updateClock();
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },

};
</script>

<style scoped lang="scss">
$shift1: 1300px;

.timeFrame{
  position: absolute;
  text-align: right;
  padding-right: 20px;
  left: 0;
  width: 35%;
  max-width: 200px;
  bottom: 0px;
  border-top-right-radius: 10px;
  .secondIndicator{
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 2px;
    position: relative;
    border: 2px solid white;
    border-style: none solid none solid;

    .tick{
      background-color: #fff;
      height: 100%;
      width: 100%;
      margin: 0 auto 0 auto;
      transition: transform 0.2s;
    }
  }
  span{
    display: block;

  }
}
#stepOneTitleText{
  border-top-left-radius: 10px;

  position: absolute;
  right: 0;
  width: 55%;

  max-width: 700px;

  span{
    display: block;

  }
}
#stepOneTitle{
  z-index: 109;
  font-weight: bold;
  font-size: 35px;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100px;
  transition: height 0.2s, font-size 0.2s;
  .stickText{
    height: 100%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0085b3;
    color: white;
    transition: border 0.2s, background-color 0.2s;;
    @media (max-width: 600px){
      font-size: 0.7em;
    }
  }
}.stick{
  position: fixed !important;
  top: 0 !important;
  right: 0px !important;
  height: 50px !important;
  font-size: 27px !important;
  .timeFrame{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    background-color: #0062b3 !important;
  }
  #stepOneTitleText{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    background-color: #0062b3 !important;
  }
}
.contentLight{
  padding: 10px;
  box-shadow: 0px 0px 8px -1px #0085b3;
  margin-right: 200px;
  background-color: white;
  @media (max-width: 900px){
    margin-right: 50px;
  }
  #contentBold{
    color: #0085b3;
    border-bottom: 2px solid #0085b3;
    @media (max-width: $shift1){
      padding: 2px;
    }
  }
}.contentDark{
  padding: 10px;
  margin: 0px 300px 0 200px;
  background-color: #0085b3;
  @media (max-width: $shift1){
    margin: 0px 250px 0 50px;
    padding: 2px;
  }
  @media (max-width: 900px){
    margin: 0px 100px 0 50px;
  }
  @media (max-width: 600px){
    margin: 0px 10px 0 50px;
  }
  #contentBold{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
  }
  #contentSpec{
    color: white;
  }
}
#stepOnecontent{
  margin: 100px 0 50px;
  width: 100%;
  position: absolute;
  font-size: 30px;
  @media (max-width: $shift1){
    font-size: 27px;
  }
}#contentBold{
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  padding: 0 0 10px 0;
  margin: 0 40px 0 40px;
  @media (max-width: 600px){
    font-size: 0.7em;
  }
}
#contentSpec{
  font-size: 0.55em;

  padding: 10px 17px 9px 17px;
  margin: 0 auto 0 auto;
  width: 90%;
  max-width: 900px;
}.img{
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 10px 0 10px 0px;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 0 0 4px -1px white;
  @media (max-width: $shift1){
    margin: 3px 0 3px 0px;
  }
  img{
    position: absolute;
    bottom: 0px;
  }
}
</style>
