<template>
  <div class="langController" :class="{scrolled: scrollTop}">
    <div id="langPL" class="langTile selectedLang">
    </div>
    <div id="langEN" class="langTile">
    </div>
  </div>
</template>

<script>
export default {
  name: 'langControler',
  props: {
    scrollTop: Boolean,
  }
};
</script>

<style scoped lang="scss">
  .langController{
    position: absolute;
    z-index: 11;
    right: 8px;
    bottom: 4px;
    display: flex;
    width: 80px;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: transform 0.1s;
    @media (max-width: 480px) {
      // flex-direction: row;
    }
  }
  .langTile{
    width: 32px;
    height: 24px;
    text-align: center;
    opacity: 0.3;
    cursor: pointer;
    overflow: hidden;
    transform: scale(1);
    margin-bottom: 5px;
    transition: opacity 0.2s, transform 0.05s;
    outline: none !important;
    &:hover{
      opacity: 1;
    }&:active{
        transform: scale(1.1);
    }
  }
  .selectedLang{
      opacity: 1;
      &:hover{
        transform: scale(1.0) !important;
      }
  }
  #langPL{
    background-image: url("../assets/flags/4x3/pl.svg");
  }#langEN{
    background-image: url("../assets/flags/4x3/gb.svg");
  }

  .scrolled{
    transform: scale(0.8) translateY(6px);
  }

</style>
