
<template>
    <div class="iconFrame col-md-6 col-lg-3 mb-3 ">
        <div class="iconContent">
            <div class="iconImg">
            <img :src="require(`@/assets/technologies/${iconName}`)" class="img-fluid" alt="">
            </div>
            <div class="iconSubtitle">
            <span>{{ name }}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'learnIcon',
  props: {
      iconName: {
          type: String,
          default: "php.png"
      },
      name: {
          type: String,
          default: "Vue"
      }
  },
  data () {
      return {

      }
  }, 
  methods: {
      url() {
          console.log(require(this.iconUrl))
      }
  }
};
</script>

<style scoped lang="scss">
.iconFrame{
    height: 230px;
}
.iconContent{
    width: 100%;
    height: 100%;
    padding: 12px;
}
.iconImg{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 5px -1px #33b6e5b9;

    img{
        max-height: 100px;
        display: block;
        margin: 0 auto 0 auto;
    }
}.iconSubtitle{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 0px 9px -1px #33b6e5b9;
    background-color: #0085b3;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
</style>
