<template>
    <div class="navMenu">

        <div :class="[{ selectedStep: currentStep == 0},'step']">
            <a href="#stepOne"><div class="stepContent"><span class="spanText">Home</span></div></a>
        </div>
        <div :class="[{ selectedStep: currentStep == 1},'step']">
            <a href="#stepTwo"><div class="stepContent"><span class="spanText">What I will Learn</span></div></a>
        </div>
        <div :class="[{ selectedStep: currentStep == 2},'step']">
            <a href="#stepThree"><div class="stepContent"><span class="spanText"> Learn CSS</span></div></a>
        </div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="blank"></div>




        
        <!-- <div :class="[{ selectedStep: currentStep == 3},'step']" @click="loadStep(3)">
            <div class="stepContent"><span>3 Poziom</span></div>
        </div>
        <div :class="[{ selectedStep: currentStep == 4},'step']" @click="loadStep(4)">
            <div class="stepContent"><span>Koniec</span></div>
        </div> -->
    </div>
</template>

<script>
import { createHash } from 'crypto';
export default {
  name: 'navMenu',
  props: {
    pixelsFromTop: {
        type: Number,
        default: 0,
    },
    steps: {
        type: Array,
        required: true,
    }
  },
  data () {
      return {
          currentStep: 0,
      };
  },
  watch: {
    pixelsFromTop: {
      immediate: true,
      handler (val, oldVal) {
          let max = 0;
          this.steps.forEach((element, index) => {
              if(val >= element && val >= max){
                  max = index;
              }
          });
          this.currentStep = max;
      }
    }
  },
  methods: {
      loadStep(step) {
          this.currentStep = step;
          window.scrollTo(0, this.steps[step]);
      },
  },

};
</script>

<style scoped lang="scss">
//ON RIGHT
.navMenu{
    @media (max-width: 900px){
        display: none;
    }

    box-sizing: border-box;
    width: 200px;
    height: 100vh;
    padding: 220px 0 200px 0;
    position: fixed;
    display: flex;
    z-index: 100;
    right: 0;
    flex-direction: column;
    text-align: center;
    color: black !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: 17px;
    transform: translateX(20px) translateY(-10px);
    @media (max-height: 600px){
        padding: 220px 0 20px 0;
    }
    @media (max-height: 400px){
        padding: 220px 0 00px 0;
    }
}
.blank{
    flex: 1;
}
.step{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    cursor: pointer;
    user-select: none;
    margin: 0;
    flex: 1;
    transition: height 0.2s, flex 0.2s, font-size 0.2s, border 0.2s, background-color 0.2s;
    .stepContent{
        padding-right: 29px;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        position: relative;
        transition: transform 0.2s;
        transform: translateX(20px);
        .spanText{
            color: black !important;
        }
        &::before{
            content: '';
            background-color: aliceblue;
            position: absolute;
            width: 100%;
            height: 35px;
            z-index: -1;
            opacity: 0.8;
            left: -10px;
            box-shadow: 0px 0px 9px -1px #33b6e5b9;
        }
        &:hover{
            transform: translateX(-10px);
            &::after{
                content: '';
                position: absolute;
                left: -20px;
                height: 20px;
                border-left: 2px solid black;
            }
        }
    }
}
//Active step
.selectedStep{

    // Bigger Active Tile
    // flex: 5 !important;

    color: white;
    .stepContent{
        transform: translateX(10px) !important;
        .spanText{
            color: white !important;
        }
        &::before{
            content: '';
            background-color: #0085b3;
            position: absolute;
            width: 100%;
            height: 35px;
            z-index: -1;
            opacity: 0.9;
            right: -10px;
            box-shadow: 0px 0px 9px -1px #33b6e5b9;
        }
        &::after{
            content: '';
            position: absolute;
            left: -20px;
            height: 25px !important;
            border-left: 2px solid black !important;
        }
    }
}









//ON LEFT
// .navMenu{
//     @media (max-width: 900px){
//         display: none;
//     }

//     box-sizing: border-box;
//     width: 200px;
//     height: 100vh;
//     padding: 200px 0 200px 0;
//     position: fixed;
//     display: flex;
//     flex-direction: column;
//     text-align: center;
//     color: black;
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
//     font-weight: bold;
//     font-size: 17px;
//     transform: translateX(-20px);
//     @media (max-height: 600px){
//         padding: 150px 0 150px 0;
//     }
//     @media (max-height: 500px){
//         padding: 100px 0 100px 0;
//     }
//     @media (max-height: 400px){
//         padding: 50px 0 50px 0;
//     }
// }
// .step{
//     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

//     cursor: pointer;
//     user-select: none;
//     margin: 0;
//     flex: 1;
//     transition: height 0.2s, flex 0.2s, font-size 0.2s, border 0.2s, background-color 0.2s;
//     .stepContent{
//         display: flex;
//         height: 100%;
//         justify-content: center;
//         flex-direction: column;
//         position: relative;
//         transition: transform 0.2s;
//         transform: translateX(-20px);
//             &::before{
//             content: '';
//             background-color: aliceblue;
//             position: absolute;
//             width: 100%;
//             height: 35px;
//             z-index: -1;
//             opacity: 0.8;
//             left: -10px;
//             box-shadow: 0px 0px 9px -1px #33b6e5b9;
//         }
//         &:hover{
//             transform: translateX(-10px);
//             &::after{
//                 content: '';
//                 position: absolute;
//                 right: 0;
//                 height: 20px;
//                 border-right: 2px solid black;
//             }
//         }
//     }
// }
// //Active step
// .selectedStep{

//     // Bigger Active Tile
//     // flex: 5 !important;

//     color: white;
//     font-size: 22px;
//     .stepContent{
//         transform: translateX(10px) !important;
//         &::before{
//             content: '';
//             background-color: #0085b3;
//             position: absolute;
//             width: 100%;
//             height: 35px;
//             z-index: -1;
//             opacity: 0.9;
//             left: -10px;
//             box-shadow: 0px 0px 9px -1px #33b6e5b9;
//         }
//         &::after{
//             content: '';
//             position: absolute;
//             right: 0;
//             height: 25px !important;
//             border-right: 2px solid black !important;
//         }
//     }
// }
</style>
