<template>
    <div :class="[{scrollTop}, 'topBar']">
      <div id="menu">
        <div class="social">
          <div class="socialIcon" id="homeTile">
            <v-icon name="home" scale="1.5"/>
          </div>
          <div class="socialIcon" id="fbTile">
            <v-icon name="brands/facebook-f" scale="1.5"/>
          </div>
          <div class="socialIcon" id="igTile">
            <v-icon name="brands/instagram" scale="1.5"/>
          </div>
          <div class="socialIcon" id="twTile">
            <v-icon name="brands/twitter" scale="1.5"/>
          </div>
        </div>

      </div>
    </div>
</template>

<script>
import langControler from '@/components/langControler.vue';
import 'vue-awesome/icons/home';
import 'vue-awesome/icons/brands/facebook-f';
import 'vue-awesome/icons/brands/instagram';
import 'vue-awesome/icons/brands/twitter';

// import 'vue-awesome/icons';

import Icon from 'vue-awesome/components/Icon';

export default {
  name: 'socialMenu',
  components: {
    langControler,
    'v-icon': Icon,
  },
  props: {
    enableLangControl: Boolean,
    pixelsFromTop: Number,
  },
  data() {
    return {
      scrollTop: true,
    };
  },
  watch: {
    pixelsFromTop: {
      immediate: true,
      handler (val, oldVal) {
          this.scrollTop = val > 0 && oldVal < val;
      }
    }
  }
};
</script>

<style scoped lang="scss">
.topBar{
  position: fixed;
  left: 0;
  z-index: 100;
  width: 80px;
  margin-top: 215px;

  // "Center"
  @media (max-height: 900px){
    margin-top: 128px;
  }
  @media (max-width: 1300px){
    margin-top: 275px;
  }
  // display: flex;
  // flex-direction: column;
  // transform: translateY(-189px);

  //Top
  // height: 100vh;
  // margin-top: 20px;;
  // display: block;

  justify-content: center;
}
#menu{
  font-size: 25px;
  font-family: url('/assets/fonts/Montserrat-black.ttf');
  letter-spacing: 1px;
  font-weight: bold;
}
.socialIcon{
  cursor: pointer;
  color: #0085b3;
  background-color: #5e69ff25;
  text-align: center;
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.2s, color 0.2s;

  svg{
    position: absolute;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    flex: 1;
  }
}
#homeTile:hover{
  background-color: #0085b3;
  color: white;
}
#fbTile:hover{
  background-color: #3b5998;
  color: white;
}
#igTile:hover{
  background-color: #833AB4;
  color: white;
}
#twTile:hover{
  background-color: #0084b4;
  color: white;
}

</style>
