<template>
  <div class="wilearn">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="whatIWillLearnText">
                    <span>What exact technology will I learn?</span>
                  </div>
              </div>
          </div>
          <div class="row">
              <learnIcon iconName="html5.svg" name="HTML"/>
              <learnIcon iconName="css3.svg" name="CSS"/>
              <learnIcon iconName="javascript.svg" name="JavaScript"/>
              <learnIcon iconName="php.svg" name="PHP"/>
              <learnIcon iconName="vue.svg" name="Vue"/>
              <learnIcon iconName="angular.svg" name="Angular"/>
              <learnIcon iconName="react.svg" name="React"/>
              <learnIcon iconName="bootstrap.svg" name="Bootstrap"/>
              <learnIcon iconName="git-icon.svg" name="GIT"/>
              <learnIcon iconName="gulp.svg" name="Gulp"/>
              <learnIcon iconName="jquery.svg" name="jQuery"/>
              <learnIcon iconName="npm.svg" name="NPM"/>
              <learnIcon iconName="sass.svg" name="SASS"/>
              <learnIcon iconName="terminal.svg" name="Command line"/>
              <learnIcon iconName="mdb.jpg" name="Material Design for Bootstrap"/>
              <learnIcon iconName="webdesgin.svg" name="Web Design / UI / UX theory"/>
          </div>
      </div>
  </div>
</template>

<script>
import learnIcon from '@/components/learnIcon.vue';
export default {
  name: 'whatIWillLearn',
  components: {
      learnIcon,
  },
  data () {
      return {

      }
  }
};
</script>

<style scoped lang="scss">
.wilearn{
    width: 100%;
    position: relative;
    z-index: 0;
}
.whatIWillLearnText{
    text-align: center;
    padding: 15px;
    font-size: 35px;
    margin-bottom: 15px;
    color: #0085b3;
    font-weight: bold;
    box-shadow: 0px 0px 9px -1px #33b6e5b9;
    background-color: white;
}
</style>
