<template>
  <div id="app">
    <navMenu :pixelsFromTop="pixelsFromTopBase" :steps="steps"/>
    <socialMenu :pixelsFromTop="pixelsFromTopBase" :enableLangControl="enableLangControl"/>
    <div id="stepOne" class="stepFrame" ref="step1">
        <landingPage />

    </div>
    <div id="stepTwo" class="stepFrame" ref="step2">
      <div class="stepInside">
         <whatIWillLearn />
       </div>
    </div>
    <div id="stepThree" class="stepFrame" ref="step3">
      <div class="stepInside">
        <cssEditor />
      </div>
    </div>
  </div>
</template>

<script>
import socialMenu from './components/socialMenu.vue';
import navMenu from './components/navMenu.vue';
import landingPage from './components/landingPage.vue';
import whatIWillLearn from './components/whatIWillLearn.vue';
import cssEditor from './components/cssEditor.vue';

export default {
  name: 'app',
  components: {
    socialMenu,
    navMenu,
    landingPage,
    whatIWillLearn,
    cssEditor,
  },
  data() {
    return {
      enableLangControl: true,
      pixelsFromTopBase: 0,
      steps: [],
    };
  },
  methods: {
    handleScroll() {
      this.pixelsFromTopBase = window.scrollY;
    },
    calculateSteps() {
      this.steps[0] = 0;
      this.steps[1] = this.$refs.step2.offsetTop;
      this.steps[2] = this.$refs.step3.offsetTop;
    }
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
    this.handleScroll()
  },
  mounted() {
    window.addEventListener('resize', this.calculateSteps);
    this.calculateSteps();
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>

<style lang="scss">
html {
  scroll-behavior: smooth;
}
a, a:hover, a:visited{
  text-decoration: none !important;
  color: white !important;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 200vh;
}
#app {
  position: relative;
  width: 100%;
}
.stepFrame{
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  background-color: aliceblue;
}
.stepInside{
  width: 100%;
  padding: 0px 200px 40px 200px;
  @media (max-width: 1200px){
    padding: 0px 200px 40px 50px;
  }
  @media (max-width: 900px){
    padding: 0px 25px 40px 25px;
  }
  @media (max-width: 500px){
    padding: 0px 25px 40px 25px;
  }
}
#stepOne{
  padding: 100px 0 20px 0px;
  padding-top: 100px;
  padding-bottom: 20px;
  z-index: 99 !important;
    @media (max-height: 900px){
      padding-top: 20px;
    }
}
</style>
